.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topContainer,
.bottomContainer {
  display: flex;
  flex-direction: column;
}

.searchContainer,
.searchContainerCollapsed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.searchContainerCollapsed {
  position: relative;
  padding: 23px;
}

.searchContainer>input {
  width: 151px;
  height: 34px;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1px 1px 1px 10px;
  outline: none;
  border: solid 1px #acb0bb;
  background-color: #ffffff;
}

.searchContainer>input::placeholder {
  font-style: italic;
  color: #cacaca;
}

.searchContainer>input:focus-visible {
  outline: none;
}

.searchSlider,
.searchSliderSlide {
  position: absolute;
  left: -250px;
  top: 7px;
  z-index: 2;
  padding: 15px;
  background-color: #6f82ab;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: transform 0.5s ease;
}

.searchSliderSlide {
  transform: translateX(250px);
}

.searchIconContainer,
.searchIconContainerCollapsed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  padding: 1px 4px;
  border: solid 1px #acb0bb;
  background-color: #f4f5f8;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.searchIconContainerCollapsed {
  border-radius: 50%;
  cursor: pointer;
}

.searchIcon {
  width: 22px;
  fill: #7f7f7f;
  transform: scaleX(-1);
}

.navItem,
.navItemActive,
.navItemFooter {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 7px;
  cursor: pointer;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  flex: 1;
}

.navItemActive {
  border-left-color: #f7941d;
  background-color: #5b627e;
}

.navItem:hover,
.navItemFooter:hover {
  background-color: #5b627e;
}

.navItemIconContainer {
  display: flex;
  align-items: center;
}

.navItemIcon {
  width: 24px;
  fill: #ffffff;
  transform: scaleX(-1);
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

.gearIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.gearIcon {
  width: 30px;
  fill: #ffffff;
  transform: rotate(90deg);
}