* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.25px;
  font-size: 13px;
  line-height: 1.1;
  color: #555;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}