.formGroup {
  display: flex;
  width: 100%;
  border: 1px solid #acb0bb;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 3px;
}

.formGroup input {
  height: 30px;
  width: 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  padding: 1px 1px 1px 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.25px;
  color: #555;
}

.formGroup input::placeholder {
  font-style: italic;
  color: #cacaca;
}

.formGroup input:focus-visible {
  outline: none;
}

.iconContainer {
  background-color: #f4f5f8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-right: 1px solid #acb0bb;
}

.icon {
  width: 20px;
  color: #7f7f7f;
  fill: #7f7f7f;
}