.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: #ffffffd9;
  font-weight: 700;
  margin: 1em -20px;
  padding: 10px 5px;
  text-align: center;
}

.errorContainer>p {
  color: #e74c3c;
}